# Backend
venv/
__pycache__/
*.pyc
.env
venv/
__pycache__/
*.pyc
.antigravity/
node_modules/
dist/
build/
.vscode/
.idea/
.DS_Store
frontend/app/.vite/
frontend/app/node_modules/
frontend/app/dist/
.env.example

# Frontend
node_modules/
dist/
.DS_Store
*.local
.eslintcache
